.container {
    height: 80px;
    background: white;
    display: grid;
    grid-template-columns: 64px 1fr auto;
    grid-template-areas: "logo title links";
    padding: 16px;
    position: sticky;
    top: 0;
    width: 100vw;
    z-index: 100;
}

.logo {
    grid-area: logo;
    text-align: left;
    width: 48px;
    height: 48px;
    margin: 8px;
}

.title {
    grid-area: title;
    text-align: left;

    margin: 0 0 0 32px;
    line-height: 64px;
    font-size: 20px;
    font-family: "Karla";
    font-weight: 300;
}

.links {
    grid-area: links;
    text-align: right;
}

.link {
    margin: 16px;
    line-height: 64px;
    font-size: 16px;
    font-family: "Karla";
    font-weight: 300;
}

@media only screen and (max-width: 672px) {
    .logo {
        width: 32px;
        height: 32px;
        margin: 8px;
    }

    .link {
        margin: 12px;
        line-height: 48px;
    }

    .container {
        height: 64px;
        background: white;
        display: grid;
        grid-template-columns: 48px 1fr auto;
        grid-template-areas: "logo title links";
        padding: 8px;
        position: sticky;
        width: 100vw;
    }
}

@media only screen and (max-width: 800px) {
    .title {
        display: none;
    }
}
