.presentation {
    max-width: 400px;
    margin: auto;
    font-size: 22px;
    margin-bottom: 96px;
    margin-top: 64px;
}

.highlightedText {
    color: var(--primary-color);
}

.contentList {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    table-layout: fixed;
}

.headerTitle {
    font-family: "Karla", sans-serif;
    color: var(--gray);
    font-weight: 300;
    font-size: 20px;
    width: fit-content;
    text-align: right;
}

.headerLine span {
    display: block;
    flex-grow: 1;
    border-bottom: 1.5px solid var(--gray);
    height: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 24px;
}

.post {
    display: flex;
}

.postTitle {
    font-size: 20px;
    display: inline-block;
    line-height: 24px;
}

.postDate {
    display: inline-block;
    font-family: "Karla", sans-serif;
    color: var(--gray);
    font-weight: bold;
    font-size: 18px;
    width: 100px;
    margin-left: 86px;
    padding-right: 16px;
    text-align: right;
    flex-shrink: 0;
    flex-grow: 0;
    line-height: 26px;
}

.deepDive {
    font-size: 20px;
    margin-left: 186px;
    padding-right: 16px;
    line-height: 26px;
}

.seeAllPosts {
    font-size: 20px;
    line-height: 24px;
    width: 200px;
    text-align: center;
    color: var(--gray);
    margin-left: calc(344px);
}

@media only screen and (max-width: 1000px) {
    .postDate {
        margin-left: calc(50vw - 200px - 112px - 100px);
    }

    .deepDive {
        margin-left: calc(50vw - 200px - 112px);
    }

    .seeAllPosts {
        margin-left: calc(50vw - 100px - 112px);
    }
}

@media only screen and (max-width: 672px) {
    .postDate {
        margin-left: -76px;
    }

    .deepDive {
        margin-left: 24px;
    }
}
