.title {
    font-size: 39px;
    color: var(--text-color);
    text-align: center;
    padding-bottom: 32px;
    padding-top: 48px;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1200px;
    margin: auto;
}

.introduction {
    max-width: 800px;
    font-size: 22px;
    line-height: 34px;
    word-wrap: break-word;
    padding: 16px 24px 4px 24px;
    color: var(--text-color);
    margin: auto;
}

.introduction a,
.introduction b {
    color: var(--primary-color) !important;
}

.postTitle {
    font-size: 20px;
    display: inline-block;
    line-height: 24px;
}

.posts {
    max-width: 800px;
    width: fit-content;
    margin: auto;
    padding-left: 24px;
    padding-right: 24px;
}

.post {
    font-size: 22px;
    line-height: 22px;
}

.headerTitle {
    font-family: "Karla", sans-serif;
    color: var(--gray);
    font-weight: 300;
    font-size: 20px;
    width: fit-content;
    text-align: right;
}

.headerLine span {
    display: block;
    flex-grow: 1;
    border-bottom: 1.5px solid var(--gray);
    height: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 24px;
    margin-right: 12px;
}

.contentList {
    max-width: 940px;
    width: 100%;
    margin: auto;
    margin-top: 32px;
    margin-left: calc(50vw - 530px);
    table-layout: fixed;
    padding: 0 24px;
    margin-bottom: 48px;
}

@media only screen and (max-width: 1035px) {
    .contentList {
        margin-left: auto;
        max-width: 800px;
    }
    .headerTitle {
        text-align: left;
    }
    .post {
        margin-left: -95px;
    }
}
